body {
  margin: 0;
  height: 100vh;
  background: radial-gradient(circle at center, #111 0%, #000 100%);
  color: #e6e6e6;
  font-family: 'Georgia', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center {
  max-width: 600px;
}

.glow {
  font-size: 2em;
  letter-spacing: 2px;
  text-shadow: 0 0 8px rgba(255,255,255,0.3);
}

.subtle {
  opacity: 0.6;
  margin-bottom: 30px;
}

input {
  padding: 10px;
  background: transparent;
  border: 1px solid #555;
  color: white;
  font-size: 16px;
  width: 200px;
  text-align: center;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background: transparent;
  border: 1px solid #888;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #222;
  border-color: white;
}

.error {
  color: #aa4444;
  margin-top: 15px;
  opacity: 0.8;
}

.hidden-link {
  display: inline-block;
  margin-top: 30px;
  opacity: 0.1;
  transition: 1s;
}

.hidden-link:hover {
  opacity: 1;
}

.final-message {
  margin-top: 30px;
  font-size: 1.2em;
  opacity: 0.9;
}

/* Fade-in animation */

.fade-in {
  animation: fadeIn 2s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }

  .gallery {
	  display: flex;
	  flex-direction: column;
	  gap: 10px
	  align-items: center;
}

.final-image {
	opacity: 0;
	animation: slowReveal 3s ease forwards;
	animation-delay: 2s;
}

@keyframes slowReveal {
	to { opacity: 0.85: }
}

